<%= form_with url: flights_path, method: :get, class: 'flight-form' do |form| %>
  <div class='f-dropdown form-floating'>
    <%= form.select :departure_id, options_for_select(@airports, selected: params[:departure_id]), {}, {class: 'form-select'} %>
    <%= form.label :departure_id, 'Departing from:', class: 'form-label' %>
  </div>
  <div class='f-dropdown form-floating'>
    <%= form.select :arrival_id, options_for_select(@airports, selected: params[:arrival_id]), {}, {class: 'form-select'} %>
    <%= form.label :arrival_id, 'To:', class: 'form-label' %>
  </div>
  <div class='f-dropdown form-floating'>
    <%= form.select :passengers, options_for_select([1, 2, 3, 4], selected: params[:passengers]), {}, {class: 'form-select'} %>
    <%= form.label :passengers, 'Number of passengers:', class: 'form-label' %>
  </div>
  <div class='f-dropdown form-floating'>
    <%= select_month Date.new(2022,8,10), {}, class: 'form-select' %>
    <%= form.label :date, 'Month', class: 'form-label' %>
  </div>
  <div class='f-dropdown form-floating'>
    <%= select_year Date.new(2022,8,10), {start_year: 2022, end_year: 2022}, class: 'form-select' %>
    <%= form.label :date, 'Year', class: 'form-label' %>
  </div>
  <%= form.submit 'Search', class: 'btn btn-primary submit-button' %>
<% end %>
