<%= render 'search_form' %>

<% if @flights && @flights.any? %>
  <% @flights.each do |flight| %>
    <p>Departing from the <%= flight.departure_airport.name %> (<%= flight.departure_airport.code %>) to <%= flight.arrival_airport.name %> (<%= flight.arrival_airport.code %>)</p>
  <% end %>
<% else %>
  <p>No flights available</p>
<% end %>
